* {
    margin: 0;
    /* padding: 0;
    box-sizing: border-box;*/
}



.icon {
    width: 30%;
    height: 30%;
}




.CABECA{
position: fixed;
width: 100%;
margin-top: -75px;

}


/*---------------------------Carrossel-------------------------------------------*/


.CARROSSEL{

}











/*---------------------------Area de viagens-------------------------------------------*/

.grade {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto; /* centraliza a grade horizontalmente */
    max-width: 1200px; /* limita a largura máxima da grade */
}

.pedro {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden; /* para garantir que a imagem não transborde a div */
    border: 1px solid #ccc; /* Adiciona uma borda simples */
    padding: 10px; /* Adiciona um espaçamento interno */
}

.pedro img {
    width: 100%; /* Ajusta a largura da imagem à largura da div */
    height: auto; /* Mantém a proporção da imagem */
}

@media screen and (max-width: 1200px) {
    .grade {
        margin: 0 15vw; /* margem de 15% da largura da tela em ambos os lados */
    }
}

@media screen and (max-width: 768px) {
    .pedro {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .pedro {
        width: calc(100% - 10px);
    }
}








/*----------------------------------------------------------------------*/


footer {
    padding: 20px 0;/*coloca uma margem em todo o contorno do rodape*/
    background-color: rgb(201, 201, 201);
    
}

.container {
    max-width: 1200px;/*maximo de pixels da area*/
    margin: 0 auto;/*delimita as margens do topo, e as laterais como automatico*/
    display: flex;/*permite alinhar ele com "FLexibilidade"*/
    justify-content: space-between;/*Alinha os itens dentro do espaço, jogando para as estremidades*/
}

.column {
    width: 30%;/*largura da coluna*/
    background-color: rgb(201, 201, 201);
}

.logo img {
    width: 100%;/*a logo pega todo o espaço da coluna*/
    
}

.social-links a {
    display: flex;/*permite alinhar ele com "FLexibilidade"*/
    align-items: center;/*alinha os itens na vertical*/
    margin-bottom: 10px;/*cria um espaço entre cada link, padroniza legal a tela*/
    color: #333; /*muda a cor dos textos, mais perto das redes sociais famosas*/
    font-family: 'Courier New', Courier, monospace;/*muda a fonte dos textos, escolhi um que me agrada*/

}

.social-links img {
    width: 15%; /*tamanho das imagens das redes sociais*/
    margin-right: 10px; /*Espaçamento entre o ícone e o texto*/
}

.social-links a span {
    font-size: 1em; /*tamanho da fonte*/
}

.additional-info  {
    margin-bottom: 10px;/*cria um espaço entre cada link, padroniza legal a tela*/
    font: 500;
    
}
