* {
    margin: 0;

}



.icon {
    width: 30%;
    height: 30%;

}





/*---------------------------Carrossel teste-------------------------------------------*/


.CARROSSEL {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    object-fit: cover;
}

.CARROSSEL img {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    /* para garantir que a imagem não transborde a div */
    transition: 0.21s;


}









/*---------------------------Area de viagens-------------------------------------------*/






/*----------------------------------------------------------------------*/



.container {
    margin: 0 auto;
    /*delimita as margens do topo, e as laterais como automatico*/
    display: flex;
    /*permite alinhar ele com "FLexibilidade"*/
    justify-content: space-between;
    /*Alinha os itens dentro do espaço, jogando para as estremidades*/
}

.column {
    width: 30%;
    /*largura da coluna*/
}

.logo img {
    width: 100%;
    /*a logo pega todo o espaço da coluna*/

}

.social-links a {
    display: flex;
    /*permite alinhar ele com "FLexibilidade"*/
    align-items: center;
    /*alinha os itens na vertical*/
    margin-bottom: 10px;
    /*cria um espaço entre cada link, padroniza legal a tela*/
    font-family: 'Courier New', Courier, monospace;
    /*muda a fonte dos textos, escolhi um que me agrada*/

}

.social-links img {
    width: 15%;
    /*tamanho das imagens das redes sociais*/
    margin-right: 10px;
    /*Espaçamento entre o ícone e o texto*/
}

.social-links a span {
    font-size: 1em;
    /*tamanho da fonte*/
}

.additional-info {
    margin-bottom: 10px;
    /*cria um espaço entre cada link, padroniza legal a tela*/
    font: 500;

}